.about {
  p {
    text-align: justify;
  }
}

.skills {
  max-width: 320px;
  &__list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  &__item {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}
