.section-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-left: 2rem;
}

.section__item {
  text-align: start;
}

.line {
  border-bottom: 1px solid #222;
  margin: 0.5rem;
}

.about p {
  text-align: justify;
}

.skills {
  max-width: 320px;
  grid-area: skills;
}
.skills__item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.hobby {
  grid-area: hobby;
}
.hobby__list {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  align-items: start;
  padding-left: 2rem;
}

.projects {
  grid-area: projects;
}
.education {
  grid-area: education;
}
.education__img {
  width: 100px;
  height: 100px;
}