.header {
  background: #454e5c;
  display: flex;
  color: aliceblue;
  justify-content: space-between;
  max-height: 200px;
  letter-spacing: 0.1rem;
}
.header__logo {
  max-width: 200px;
}
.header__title {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.header__title h1 {
  text-transform: uppercase;
}
.header__content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
  row-gap: 0.5rem;
}
.header__contacts {
  display: flex;
  justify-content: start;
}
.header__link {
  color: aliceblue;
  display: flex;
  gap: 0.5rem;
  font-size: 1rem;
  letter-spacing: 0;
}
.header__link .svg {
  width: 20px;
  height: 20px;
}
.header__social {
  display: flex;
  justify-content: end;
}
.header__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  width: 50%;
  height: 100%;
  gap: 1rem;
}
.header .leng-btn {
  color: aliceblue;
  cursor: pointer;
  padding: 1rem;
  background: transparent;
  border: 1px solid aliceblue;
}

.menu-wrapper {
  display: none;
  background: rgba(0, 0, 0, 0.4196078431);
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  transform: translateX(100%);
  transition: 1s;
  position: relative;
  z-index: 10;
}

.menu {
  padding: 2rem;
  padding-left: 3rem;
  display: inline;
  background: aliceblue;
  margin-top: 60px;
  width: 50%;
  height: 50%;
  text-align: left;
  position: relative;
  z-index: 200;
}
.menu ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  z-index: 200;
}
.menu ul a {
  text-decoration: none;
}

.burger {
  display: none;
  cursor: pointer;
  width: 35px;
  height: 20px;
  position: relative;
  z-index: 30;
}

.burger__span {
  display: block;
  width: 100%;
  height: 2px;
  background: aliceblue;
  transition: 1s;
}

.burger__p {
  width: 100%;
  position: relative;
}

.burger__p::after,
.burger__p::before {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  background: aliceblue;
  height: 2px;
  transition: 1s;
}

.burger__p::after {
  top: 10px;
}

.burger__p::before {
  bottom: 10px;
}

.burger.open .burger__span {
  transition: 1s;
  transform: rotateY(90deg);
}

.burger.open .burger__p::after {
  transform: rotate(45deg);
  top: 0%;
  transition: 1s;
}

.burger.open .burger__p::before {
  top: 0%;
  transform: rotate(-45deg);
  transition: 1s;
}

.menu-wrapper.open {
  transform: translateX(0);
  transition: 1s;
}

@media screen and (max-width: 750px) {
  html {
    overflow-x: hidden;
  }
  .header {
    max-height: 150px;
  }
  .header__content {
    padding: 0.5rem 1rem;
  }
  .header__logo {
    max-width: 150px;
  }
  .header__title {
    font-size: 0.8rem;
    gap: 0.5rem;
    justify-content: center;
  }
  .header__social {
    display: none;
  }
  .header__contacts {
    display: none;
  }
  .header__link {
    color: black;
  }
  .menu-wrapper {
    display: flex;
    align-items: start;
    justify-content: end;
    position: absolute;
  }
  .burger {
    display: block;
  }
}
@media screen and (max-width: 620px) {
  .header__content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0 1rem;
  }
  .header__title {
    font-size: 0.6rem;
  }
  .header__btn {
    flex-direction: row-reverse;
    width: 100%;
  }
  .header .menu {
    margin-top: 150px;
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-height: 700px) {
  .menu {
    height: 100vh;
    overflow-y: auto;
  }
}