.contacts-element {
  display: flex;
  flex: 1;
  padding-left: 5rem;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 1rem;
}

.social-element {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  gap: 1rem;
  justify-self: end;
  align-self: center;
  padding-right: 20%;
}