.app {
  text-align: center;
  background: #8f8f8f;
  min-height: 100vh;
  max-width: 1020px;
  width: 100%;
  margin: 0 auto;
}

.link {
  text-decoration: none;
}

.svg {
  width: 30px;
  height: 30px;
  fill: aliceblue;
}

.list-item {
  list-style-type: none;
}

@media screen and (max-width: 750px) {
  .svg {
    fill: black;
  }
}
